@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #020208;
    --second-bg-color: #010719;
    --text-color: #c0c0c0;
    --back-color: #7c7c7c;
    --main-color: #a6ff00;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

span {
    color: var(--main-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}

.header.sticky {
    background: var(--second-bg-color);
    box-shadow: 0 .6rem .7rem rgba(0, 0, 0, 0.7);
}

.logo {
    position: relative;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.navbar {
    position: relative;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 700;
    margin-left: 3.5rem;
    transition: .1s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    position: relative;
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section {
    padding: 10rem 9% 2rem;
}

.heading {
    font-size: 5rem;
    text-align: center;
}


.portfolio {
    min-height: auto;
    width: 100%;
    background: var(--second-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2rem;
    margin-bottom: 30px;
    color: #020201;
    gap: 5rem;
    margin-bottom: 7rem;
}

.projects-title h2{
    font-size: 5rem;
    margin-top: 4.5rem;
    margin-bottom: .5rem;
}

.projects-title p {
    font-size: 2.3rem;
    font-weight: 600;
    margin-bottom: 5rem;
    color: var(--tex-color);
}

#jogos {
    background: var(--bg-color);
}

#jogos {
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.card-project {
    width: 320px;
    height: 450px;
    padding: 30px 20px 20px;
    margin: 0px 10px;
    position: relative;
    background: var(--back-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.65);
}

.card-project::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 40%;
    width: 100%;
    background: var(--main-color);
    border-radius: 20px 20px 0 0;
}

.img-card-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.img-card {
    height: 240px;
    width: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    border: 4px solid var(--main-color);
    margin: 0 auto;
}

.img-card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
    position: absolute;
    top: 0;
    left: 0;
    border: 4px solid var(--back-color);
    transition: transform .3s ease-out;
    cursor: pointer;
}

.img-card img:hover {
    transform: scale(1.3);
}

.img-card-container h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #020201;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 1rem;
}

.img-card-container p {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #3d3d4b;
    font-weight: 700;
    font-size: 1.5rem;
}

.cta-project {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 25rem;
    margin: auto auto 15px auto;
}

.cta-project a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 3.5rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .9rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--bg-color);
    z-index: 0;
    overflow: hidden;
    transition: .5s;
}

.cta-project a:hover {
    color: var(--main-color);
}

.cta-project a:nth-child(2) {
    background: transparent;
    color: var(--main-color);
}

.cta-project a:nth-child(2):hover {
    color: var(--bg-color);
}

.cta-project a:nth-child(2)::before {
    background: var(--main-color);
}

.cta-project a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--back-color);
    z-index: -1;
    transition: .5s;
}

.cta-project a:hover::before {
    width: 100%;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.portfolio-modal {
    z-index: 99999;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(10px);
    visibility: hidden;
    display: none;
}

.portfolio-modal.active {
    visibility: visible;
}



.portfolio-modal-body {
    position: relative;
    background: var(--bg-color);
    max-width: 500px;
    max-height: auto;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 .6rem .7rem rgba(0, 0, 0, 0.8);
    transform: translateY(-50%);
    transition: .5s ease;
}

.portfolio-modal.active .portfolio-modal-body {
    transform: translateY(0);
}

.portfolio-modal-body img {
    max-width: 75%;
    max-height: 75%;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    box-shadow: 0 0 10px #a0a0a0; 
}

.portfolio-close-btn {
    position: absolute;
    font-size: 3.5rem;
    color: var(--main-color);
    padding: 1.4rem;
    top: 0;
    right: 0;
    cursor: pointer;
}

.portfolio-modal-body h3 {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-bottom: 2.7rem;
}

.portfolio-modal-body p {
    font-size: 1.3rem;
    color: var(--text-color);
    margin-top: 2.5rem;
    text-align: justify;
}


.lenguage-icons-container {
    display: flex;
    align-items: center;
}

.lenguage-icons-container .lenguage-icon {
    font-size: 1.6rem;
    font-weight: 900;
    color: var(--back-color);
    margin-right: 2rem;
}

.lenguage-icons-container .icons-lenguage {
    color: var(--back-color);
    font-size: 3rem;
}

.icons-lenguage i {
    transition: .2s ease-out;
}

.icons-lenguage .html-icon:hover {
    color: #e96900;
}

.icons-lenguage .css-icon:hover {
    color: #0066ff;
}

.icons-lenguage .js-icon:hover {
    color: #ffdd00;
}

.icons-lenguage i:hover {
    transform: scale(1.4);
}

.spacing {
    margin-left: .6rem;
}

.portfolio-modal-body {
    width: 100%;
    margin: 20px 0;
    border-radius: 10px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text,
.footer-iconTop {
    position: relative;
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    z-index: 0;
    overflow: hidden;
}

.footer-iconTop a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}

.footer-iconTop a:hover::before {
    width: 100%;

}

.footer-iconTop a i {
    font-size: 2.4rem;
    ;
    color: #020208;
    transition: .5s;
}

.footer-iconTop a:hover i {
    color: var(--main-color);
}

/*Animation Reload and scroll*/

@media (max-width: 2500px) {
    section {
        min-height: auto;
    }
}
@media (max-width: 1365px) {
    .portfolio {
        padding-bottom: 1px;  
    }

    .card-project {
        width: 270px;
        height: 410px;
    }
    
    .img-card {
        height: 200px;
        width: 210px;
    }

    .cta-project {
        width: 23rem;
    }

}

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 1195px) {
    .card-project {
        width: 245px;
        height: 380px;
    }
    
    .img-card {
        height: 180px;
        width: 190px;
    }
}


@media (max-width: 1075px) {
    .header {
        padding: 2rem 4%;
    }

    section {
        padding: 10rem 4% 2rem;
    }

    .footer {
        padding: 2rem 4%;
    }

}

@media (max-width: 960px){

    .card-project {
        width: 235px;
        height: 360px;
    }
    
    .img-card {
        height: 175px;
        width: 185px;
    }

    .cta-project {
        width: 21rem;
    }

    .cta-project a {
        width: 9.5rem;
    }

}

@media (max-width: 930px){
    .card-project {
        width: 225px;
        height: 340px;
    }
    
    .img-card {
        height: 165px;
        width: 175px;
    }

  
}

@media (max-width: 895px){
    .card-project {
        width: 210px;
        height: 330px;
    }
    
    .img-card {
        height: 140px;
        width: 150px;
    }

    .cta-project {
        width: 20rem;
    }

    .cta-project a {
        width: 8.5rem;
    }
}

@media (max-width: 850px) {
    .animate.start-img {
        width: 55%;
    }

    .projects-title h2 {
        font-size: 5.7rem;
    }

    .card-project {
        width: 350px;
        height: 450px;
    }
    
    .img-card {
        height: 210px;
        width: 220px;
    }

    .img-card-container h1 {
        font-size: 2.3rem;
    }

    .cta-project {
        width: 34rem;
    }

    .cta-project a {
        width: 14rem;
    }
    
}

@media (max-width: 790px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--main-color);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.65);
        z-index: 0;
        transition: .25s ease;
        transition-delay: .25s;
    }

    .active {
        left: 0;
        transition-delay: 0s;
    }

     .active-nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--second-bg-color);
        border-top: .1rem solid rgb(0, 0, 0);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active .active-nav {
        left: 0;
        transition-delay: .25s;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0;
    }

    .navbar.active a {
        transform: translateX(0);
        transition-delay: .25s;
    }
    
    .card-project {
        width: 330px;
        height: 420px;
    }

    .portfolio-modal-body{
        width: 85%;
    }
    
    .img-card {
        height: 190px;
        width: 200px;
    }

    .img-card-container h1 {
        font-size: 2.3rem;
    }


    .cta-project {
        width: 30rem;
    }

    .cta-project a {
        width: 12rem;
    }
}

@media (max-widht: 650px) {
    .projects-title p{
        font-size: 2.1rem;
    }
}

@media (max-width: 550px) {
    html {
        font-size: 50%;
    }
    
    .card-project {
        width: 300px;
        height: 400px;
    }
    
    .img-card {
        height: 180px;
        width: 190px;
    }

    .img-card-container h1 {
        font-size: 2.2rem;
    }

    .cta-project {
        width: 30rem;
    }

    .cta-project a {
        width: 12rem;
    }

    .projects-title p {
        font-size: 2rem;
    }

}

@media (max-width: 462px) {
    .card-project {
        width: 270px;
        height: 380px;
    }
    
    .img-card {
        height: 160px;
        width: 170px;
    }

    .img-card-container h1 {
        font-size: 2.1rem;
    }
    

    .cta-project {
        width: 28rem;
    }

    .cta-project a {
        width: 12rem;
    }
}

@media (max-width: 423px) {
    .footer {
        padding: 2rem 2%;
    }
}

@media (max-width: 385px) {
    .footer-text p {
        font-size: 1.4rem;
    }

    .footer {
        padding: 2rem 2%;
    }

    .projects-title h2 {
        font-size: 5rem;
    }

    .card-project {
        width: 250px;
        height: 360px;
    }
    
    .img-card {
        height: 140px;
        width: 150px;
    }

    .img-card-container h1 {
        font-size: 2.1rem;
    }

    .cta-project {
        width: 27rem;
    }

    .cta-project a {
        width: 12rem;
    }
}

@media (max-width: 370px) {
    .footer-text p {
        font-size: 1.4rem;
    }

    .footer {
        padding: 2rem 2%;
    }
}

@media (max-width: 355px) {
    .projects-title h2 {
        font-size: 4.7rem;
    }

    .card-project {
        width: 240px;
        height: 360px;
    }
    
    .img-card {
        height: 140px;
        width: 150px;
    }

    .img-card-container h1 {
        font-size: 2rem;
    }

    .cta-project {
        width: 26rem;
    }

    .cta-project a {
        width: 12rem;
    }
    
    .footer {
        padding: 2rem 2%;
    }

    .footer-text p {
        font-size: 1.3rem;
    }
}

@media (max-width: 341px) {
    .lenguage-icons-container .lenguage-icon {
        font-size: 1.45rem;
        margin-right: 1.4rem;
    }
}

@media (max-width: 320px) {
    .footer-text p {
        font-size: 1.26rem;
    }
}

@media (max-width: 311px) {
    .lenguage-icons-container .lenguage-icon {
        font-size: 1.39rem;
        margin-right: .7rem;
    }

    .lenguage-icons-container .icons-lenguage {
        color: var(--back-color);
        font-size: 2.3rem;
    }    

    .spacing {
        margin-left: .5rem;
    }

    .footer-text p {
        font-size: 1.14rem;
    }

    .footer {
        padding: 2rem 1%;
    }
}